* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.logo h3 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  padding: 0 8px;
}
