@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes loading {
  from {
    letter-spacing: 0px;
  }
  to {
    letter-spacing: 2px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  animation: fadein 1s ease-out;
}

header {
  position: fixed;
  background-color: azure;
  width: 100%;
}

.sticky a {
  color: rgb(0, 0, 0);
}

.sticky {
  background-color: azure;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
}

.navlogo {
  display: none;
}

.navlogo h3 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  padding: 0 15px;
  display: inline-block;
  transition: all ease-out 0.4s;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  margin: 0 1.5rem;
  padding-top: 60px;
}

.pshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pimg {
  margin: 1rem;
}

.pdetails {
  text-align: center;
  width: 100%;
}

.pdetails h3 {
  margin: 0.8rem 0;
}

.pdetails p {
  margin: 0.8rem 0.9rem;
  text-align: justify;
}

.comments {
  position: relative;
  margin: 1rem 0;
  border-top: 1px solid black;
}

.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comments input[type="submit"] {
  padding: 0.5rem;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  color: azure;
  background: linear-gradient(
    90deg,
    rgb(203, 115, 252) 0%,
    rgb(139, 102, 241) 100%
  );
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.comments h4 {
  padding: 0.5rem;
}

.comment {
  padding: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (min-width: 668px) {
  header {
    padding: 0 50px;
  }

  .sticky {
    padding: 0 50px;
    background-color: rgba(240, 248, 255, 0.705);
  }

  .sticky .navlogo {
    color: black;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: block;
    color: rgb(0, 0, 0);
  }

  .container {
    padding-top: 80px;
  }

  .pshow {
    flex-direction: row;
  }
}
