@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  scroll-padding: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  animation: fadein 0.5s ease-out;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.sticky {
  background-color: rgb(240, 248, 255);
}

.sticky a {
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
}

.navlogo {
  display: none;
}

.navlogo h3 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  padding: 0 15px;
  display: inline-block;
  transition: all ease-out 0.4s;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  padding-top: 58.5px;
}

.shop-content {
  margin: 30px;
}

.product-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--text-color);
  transition: 0.4s;
}

.img {
  max-width: 300px;
  min-width: 300px;
  height: 350px;
}

.product-img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.details {
  margin: 20px;
  padding: 10px;
  text-align: justify;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}

.descript {
  margin-top: 20px;
}

.comments {
  margin: 20px 0;
}

.btn {
  display: flex;
  justify-content: right;
}

.comments input[type="submit"] {
  padding: 0.5rem;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  color: azure;
  background: linear-gradient(
    90deg,
    rgb(203, 115, 252) 0%,
    rgb(139, 102, 241) 100%
  );
  margin: 1rem 0;
  cursor: pointer;
}

.comments h4 {
  padding: 0.5rem;
  padding-left: 0;
}

.comment {
  padding: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.rating {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  margin: 0 0 10px 0;
  padding: 4px;
}

.rate {
  margin-left: 10px;
}

.prating {
  margin: 8px 0;
  padding-left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.prating .fa {
  font-size: 25px;
}

.comm {
  padding: 4px;
  text-align: justify;
  word-wrap: break-word;
}

.fa {
  font-size: 20px;
}

.checked {
  color: orange;
}

@media (min-width: 668px) {
  header {
    padding: 0 50px;
  }

  .sticky {
    padding: 0 50px;
    background-color: rgb(240, 248, 255);
  }

  .sticky .navlogo {
    color: black;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: block;
    color: rgb(0, 0, 0);
  }
}
